@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
h2,
h3,
h4,
h5 {
  color: #888;
}
h4 span {
  font-weight: 400;
}
h3 a:hover {
  color: #00bcd4;
}
a {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

button {
  padding: 18px 20px;
  display: block;
  background: #1a1a1a;
  border: none;
  box-shadow: none;
  width: 100%;
  font-size: 17px;
  text-align: center;
  position: relative;
  color: inherit;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  border-top: 3px solid transparent;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}

button.open {
  border-top-color: #00bcd4;
}

button:before {
  content: "\e3c7";
  font-family: 'Material Icons';
  font-size: 25px;
  line-height: 1em;
  color: #888;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(20px, -50%);
}

button:focus {
  outline: none;
}

#dropdown-menu {
  padding: 0;
  min-width: 330px;
  max-width: 400px;
  float: left;
}
#dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#dropdown-menu ul > li {
  padding: 10px 0;
}
#dropdown-menu ul > li ul > li {
  padding: 0;
}

.items {
  background: #1a1a1a;
  margin-top: 10px;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.items h5, .subitem {
  padding: 0 20px;
}

.items h5.open {
  color: #00bcd4;
}

.subitem{
  position: relative;
}
.subitem span:before {
  content: attr(data-icon);
  font-family: "Restaurant Regular";
  font-size: 37px;
  color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.subitem > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 45px;
}
.subitem:hover {
  background: #00bcd4;
  color: #fff;
}

.subitems {
  padding: 15px 0 5px;
}

iframe, .map{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}

.items-body-enter {
  opacity: 0.01;
}

.items-body-enter.items-body-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.items-body-leave {
  opacity: 1;
}

.items-body-leave.items-body-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}